@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1a1a1a;
  --secondary: #2c2c2c;
  --accent: #d1d1d1;
  --text-primary: #f0f0f0;
  --text-secondary: #a0a0a0;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  background-color: var(--primary);
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.content {
  --main-color: var(--custom-color, var(--accent));

  > div {
    @apply space-y-6;
  }

  h1 {
    @apply font-neue text-4xl font-bold mb-12 text-text-primary;
  }

  h2 {
    @apply font-neue text-xl font-bold mb-6 text-text-primary;
  }

  p {
    @apply text-text-secondary text-lg leading-relaxed;
  }

  ul li {
    @apply before:content-['–'] before:mr-2;
  }

  li {
    @apply text-text-secondary;
  }

  pre code {
    @apply block border p-2 max-w-full overflow-x-scroll border-secondary bg-primary rounded-sm;
  }

  :not(:is(pre)) > code {
    @apply border px-2 border-secondary bg-primary rounded-sm text-accent text-base whitespace-nowrap;
  }

  p a,
  li a {
    @apply text-accent font-medium underline underline-offset-4 hover:decoration-2 hover:decoration-[var(--main-color)];
  }

  table {
    @apply w-full border-collapse text-left;
  }

  thead {
    @apply bg-secondary;
  }

  tbody tr:nth-of-type(even) {
    @apply bg-secondary/50;
  }

  th {
    @apply p-4 font-semibold border border-secondary;
  }

  td {
    @apply p-4 border border-secondary;
  }
}
